body {

    background: #1e1e20;
    font-family: 'Montserrat', sans-serif;

}

header {
    background-color: #6182f7;
    padding: 30px 0;
}

.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

.logo {
    float: left;
}

.titulo {
    display: inline;
    margin-left: 130px;
}

nav {
    position: absolute;
    top: 25px;
    /**Posicion de las anclas*/
    right: 0;
    /*background-color: blue;*/
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

}

nav a:hover {
    color: hwb(300 17% 31%);
    text-decoration: underline;
    
}



main {
    width: 940px;
    height: 940px;
    position: relative;
    margin: 0 auto;
    background-color: rgb(245, 240, 237);
}

.cajaMain {
    width: 940px;
    height: auto;
    margin: 0px auto;


}

.ladoIzq {
    float: left;
    width: 20%;
}



.imagenApi {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 15px;
    transition: 400ms;
    border: 2px solid black;
    /**box-shadow: 5px 8px 40px 10px rgb(11, 26, 235);*/
}

.imagenApi:hover {
    opacity: 0.4;
}

.botones {
    background-color: aqua;
   

}

.btmostrarTexto,.btCambiarFoto,.btCambiarcolor{
    margin-top: 3px;
    width: 70%;
    margin-left: 30px;
    
}



.ladoDerecho {
    margin-top: 5px;
    float: right;
    width: 80%;
    border-radius: 15px;
    /* background-color:crimson;*/
}

#iconoPersonal {
    margin-top: 25px;
    margin-left: 5px;
    font-size: 20px;
    float: left;
    align-self: center;
}

.tituloPersonal {
    margin-left: 40px;
    text-decoration: underline;

}

table {

    padding: 23px;
    text-align: center;
}

td,
th {
    padding: 8px 15px;
}

th {
    color: #000000;
    font-size: 20px;
}

td {
    font-weight: bold;

}

.formacion,
.expLaboral {
    width: 100%;
    position: relative;
    margin: 0 auto;
    float: left;
    height: auto;
    float: left;
    border: none;
    background-color: rgb(245, 240, 237);

}

.cajaFormacion,
.cajaLaboral {
    height: 25px;
    position: relative;
    margin: 0 auto;
    background-color: #6182f7;
    border: none;


}

.formProfecionalTitulo,
.titLaboral {
    text-align: center;
    margin-top: auto;
    text-decoration: underline;
    float: initial;
}

#iconoFormacion,
#iconoLaboral {
    margin-top: 5px;
    font-size: 20px;
    float: left;
    align-self: center;
}

.descripcion,
.descripcionLaboral {
    position: relative;
    margin: 0 auto;
    border: none;
}

ul,
p {
    font-weight: bold;
}


footer {
    float: left;
    width: 100%;
    background: #6182f7;
    padding-top: 30px;

}

#nombreFooter {
    text-align: center;
    margin-top: auto;
    float: initial;
}